@charset "utf-8";

html,
body,
h1,
nav,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #000;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

.wrap {
  max-width: 960px;   
  margin: 0 auto;     
  padding: 0 20px;  
  box-sizing: border-box;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
}
.logo {
  margin: 0;
  font-size: 35px;
  font-weight: bold;
}
.nav {
  display: flex;
  margin: 0;
  padding: 0;
}
.nav li {
  padding: 0 12px;
}
.nav li:not(:last-child){
  border-right: 1px solid #555;
} 

@media (max-width: 767px) {
  .header {
    display: block;
  }

  .nav {
    display: block;
    width: 100%;
  }
  .nav li {
    width: 100%;                     
    padding: 10px 0;
    border-right: none !important;
    border-bottom: 1px solid #555;
    box-sizing: border-box;       
  }
  
}

